In [3]:
#print number from 1 to 10 using a for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
#calculate the sum of numbers from 1 to10 using a or loop
sum = 0
for i in range(2,11):
    sum += i
    print(sum)

2
5
9
14
20
27
35
44
54

In [15]:
# print the elements of a list using a for loop
my_list=[1,2,3,4,5]
for element in my_list:
    print(element)

1
2
3
4
5

In [19]:
#calculate the product of elements in a list  for loop
my_list=[1,2,3,4,5]
product=1
for i in range(1,11):
    product*=i
    print(i)

1
2
3
4
5
6
7
8
9
10

In [23]:
#print even numbers from 1 to 10 using a for loop
for num in range(3,11,2):
    print(num)

3
5
7
9

In [35]:
# print numbers in reverse from 10 to 1 using loop
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [51]:
# print charcters of a string using a for loop
letter='hello john'
for char in letter:
    print(char)

h
e
l
l
o

j
o
h
n

In [55]:
# find the largest number in a list using a for loop
my_list=[3,9,1,2,8]
largest=my_list[0]
for num in my_list:
    if num>largest:
        largest=num
        print(largest)

9

In [69]:
# find the smallest number in a list using a for loop
my_list=[3,4,2,1,6,7]
smallest=my_list[0]
for num in my_list:
    if num<smallest:
        smallest=num
print(smallest)

1

In [71]:
#find the average of number in a list using a for loop
my_list=[4,7,9,2,5]
tot=10
for num in my_list:
    tot +=num
average=tot/len(my_list)  
print(average)

7.4

In [96]:
#print all upper letters in string using a for loop
str=("Happy HOLI")
for char in str:
        if char.islower():
            print(char)

a
p
p
y

In [125]:
# Count the number of vowels in a string using a for loop
str='wereytruyndfgs'
vowels="AEIOUaeiou"
count = 0
for char in str:
    if char in vowels:
        count += 1
print(count)

3

In [149]:
#print a pattern of stars using nested for loops
for i in range(1,4):
    for j in range(i+4):
        print("*",end="")
    print()

*****
******
*******

In [ ]:
#calculate factorial of a number using a while loop
fact=1
num=5
while(num>0):
    fact*=num
    num-=1
print(fact)

In [164]:
#0r calculate factorial of a number using a while loop
num = 4
factorial = 1
while num > 0:
    factorial *= num
    num -= 1
print(factorial)

24

In [24]:
#find th first occurence of a number in a list using a while loop
my_list=[3,8,2,7]
target=9
index=0
while index<len(my_list):
    if my_list[index]==target:
        break
    index += 1
else:
    inder=-1
print(index)

4

In [20]:
#caluculate the sum of number from o to 100 using a while loop
num=1
sum_number=0
while num<=100:
    sum_number+=num
    num+=1
print(sum_number)

5050

In [37]:
# find all prime numbers between 1 and 50 using nested for and if
for num in range(2,51):
    for i in range(2,num):
        if num % i==0:
          break
else:
    print(num)

50

In [39]:
#print numbers divisible by 3 or 5 from 1 to 20 using a for loop
for num in range(1,21):
    if num%3==0 or num%5==0:
        print(num)

3
5
6
9
10
12
15
18
20

In [41]:
#  a list of squares of numbers from 1 to 5 using a list comprehension
squares=[num**2 for num in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [45]:
for num in range(1,6):
   
    print(num**2)

1
4
9
16
25

In [47]:
# print the fibonacci sequence up to the 10th term using a while loop
a,b=0,1
count=0
while count<10:
    print(a,end="")
    a,b=b,a+b
    count+=1

0112358132134

In [1]:
#find the common elements in two lists using a for loop
list1=[1,2,3,4,5]
list2=[3,4,5,6,7]
common_elements=[]
for elements in list1:
    if elements in list2:
        common_elements.append(elements)

In [1]:
# print number in a list until a negative number is encountered using a while loop
my_list=[1,4,6,8,10,-3,5,7]
index=0
while my_list[index]>=0:
    print(my_list[index])
    index+=1

1
4
6
8
10

In [5]:
#print number from 1 to 5, except 3 using a for loop and cccontinue statement
for num in range(1,6):
    if num==3:
        continue
    print(num)

1
2
4
5

In [7]:
#print number from 1 to 10. if a number is divisible by 4 stop the loop using a for loop and break statments
for num in range(1,6):
    print(num)
    if num%4==0:
        break

1
2
3
4

In [15]:
# print number from 1 to 10 if a number is even, skip it using a for loop and else clause
for num in range(1,11):
    if num%2==0:
        continue
    print(num)
else:
    print("loop completed successfully!!!")

1
3
5
7
9
loop completed successfully!!!

In [ ]:
# print the number from 1 to 10 if number is even .break the loop using the else clause
for num in range(1,11):