In [3]:
#print number from 1 to 10 using a for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
#calculate the sum of numbers from 1 to10 using a or loop
sum = 0
for i in range(2,11):
    sum += i
    print(sum)

2
5
9
14
20
27
35
44
54

In [15]:
# print the elements of a list using a for loop
my_list=[1,2,3,4,5]
for element in my_list:
    print(element)

1
2
3
4
5

In [19]:
#calculate the product of elements in a list  for loop
my_list=[1,2,3,4,5]
product=1
for i in range(1,11):
    product*=i
    print(i)

1
2
3
4
5
6
7
8
9
10

In [23]:
#print even numbers from 1 to 10 using a for loop
for num in range(3,11,2):
    print(num)

3
5
7
9

In [35]:
# print numbers in reverse from 10 to 1 using loop
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [51]:
# print charcters of a string using a for loop
letter='hello john'
for char in letter:
    print(char)

h
e
l
l
o

j
o
h
n

In [55]:
# find the largest number in a list using a for loop
my_list=[3,9,1,2,8]
largest=my_list[0]
for num in my_list:
    if num>largest:
        largest=num
        print(largest)

9

In [69]:
# find the smallest number in a list using a for loop
my_list=[3,4,2,1,6,7]
smallest=my_list[0]
for num in my_list:
    if num<smallest:
        smallest=num
print(smallest)

1

In [71]:
#find the average of number in a list using a for loop
my_list=[4,7,9,2,5]
tot=10
for num in my_list:
    tot +=num
average=tot/len(my_list)  
print(average)

7.4

In [96]:
#print all upper letters in string using a for loop
str=("Happy HOLI")
for char in str:
        if char.islower():
            print(char)

a
p
p
y

In [125]:
# Count the number of vowels in a string using a for loop
str='wereytruyndfgs'
vowels="AEIOUaeiou"
count = 0
for char in str:
    if char in vowels:
        count += 1
print(count)

3

In [149]:
#print a pattern of stars using nested for loops
for i in range(1,4):
    for j in range(i+4):
        print("*",end="")
    print()

*****
******
*******

In [ ]:
#calculate factorial of a number using a while loop
fact=1
num=5
while(num>0):
    fact*=num
    num-=1
print(fact)

In [164]:
#0r calculate factorial of a number using a while loop
num = 4
factorial = 1
while num > 0:
    factorial *= num
    num -= 1
print(factorial)

24