In [1]:
# REGEX - Regular Expressions
    # pattern matching and identification of reuired data from raw data
    # letting the system know the way humans identify different data categories,

In [66]:
import re # which can be use implement regular expression

In [68]:
# wildcard characters
\w - anything between a-z, A-Z, 0-9 but not a space
\d - anything between 0-9
\s - any space, newline, tab

\W - anything but not a-z, A-Z,0-9
\D - anything but not 0-9
\S - anything but not space, newline, tab

[] - character set

SyntaxError: unexpected character after line continuation character (3081653107.py, line 2)

In [9]:
# repition group
+ - 1 or more occurence
* - 0 or more occurence
? - 0 or 1 occurence
{k} - exactly k occurence
{m,n} minimum m and maximum n occurence
. - any character except newline

\ - to escape special meaning
| - or

SyntaxError: invalid syntax (3307357038.py, line 2)

In [11]:
#re.findall() - function to find all occurence of the pattern in a string

In [13]:
searches=""" how to use regex in python
how to use regex in java
how to make homemade mayo
how to add rrays in python
how to learn paragliding
"""

In [15]:
python_search_pat= r"how to .+in python"
re.findall(python_search_pat,searches)

['how to use regex in python', 'how to add rrays in python']

In [58]:
data=open('re_data.txt','r').read().strip()
data.replace("\n",'xxxx')

'123-456-7898xxxx365-212-8432xxxx492-428-456589xxxx9995826565xxxxxxxxxxxxxxxxabcdefghijklmnopqrstuvwxyzxxxxABCDEFGHIJKLMNOPQRSTUVWXYZxxxxxxxxxxxx192.168.0.1xxxx192.192.192.168xxxx0.0.0.168xxxx2.2.2.2xxxx3.654.192.1xxxx0.0.0.256xxxx255.255.255.0xxxx255+255.255.0xxxxa.b.c.dexxxx555.555.555.555xxxxxxxxxxxx9995826234xxxxxxxxxxxx04-03-1993xxxx04-03-1903xxxx04-03-93xxxx02-12-1996xxxx02-12-1996xxxx3-11-1998xxxx28-06-200xxxx28-13-2001xxxxxxxx9995820560xxxxxxxxxyz2030@gmail.comxxxxajay_kumar@ahoo.comxxxxram.kumar@@.comxxxxhimanshutyagi0404@gmail.comxxxxhimesh_singh@ahoo.in'

In [70]:
mob_pat = r'\d{10}'
re.findall(mob_pat,data)

['9995826565', '9995826234', '9995820560']

In [72]:
landline_pat=r'\d{3}-\d{3}-\d{4}'
re.findall(landline_pat,data)

['123-456-7898', '365-212-8432', '492-428-4565']

In [76]:
email_id_pat=r"[a-z0-9\.\_]+@[a-z0-9\_]+.[a-z]+"
re.findall(email_id_pat,data)

['xyz2030@gmail.com',
 'ajay_kumar@ahoo.com',
 'himanshutyagi0404@gmail.com',
 'himesh_singh@ahoo.in']

In [78]:
#Db-interaction
#table-data arranged in rows and columns
#RDBMS-relational data base management system
# sql-structure query language

In [80]:
###DDL-data definition language
    #create
    #drop
    #alter
    #truncate
    #delete

### DML- Data manipulation language
    #insert
    #update
    #delete
# need commit code

In [46]:
import sqlite3

In [48]:
conn=sqlite3.connect('test.db')

In [60]:
conn.execute("""
create table company(ID INT PRIMARY KEY NOT NULL,
NAME TEXT NOT NULL,
AGE INT NOT NULL,ADDRESS CHAR(50),
SALARY INT
);
""")

OperationalError: table company already exists

In [68]:
def table_print():
     for i in conn.execute("""select*from company"""):
         print(i)
         
    

conn.execute("""insert into company(ID,NAME,AGE,ADDRESS,SALARY)values(1,'AJAY',25,'Pune',1000)""")

IntegrityError: UNIQUE constraint failed: company.ID

In [62]:
conn.commit()
table_print()

(2, 'AMIT', 26, 'Goa', 2000)
(3, 'ARJUN', 27, 'UK', 3000)
(1, 'AJAY', 25, 'Pune', 1000)

In [106]:
conn.execute("""insert into company(ID,NAME,AGE,ADDRESS,SALARY)values(2,'AMIT',26,'Goa',2000)""")

IntegrityError: UNIQUE constraint failed: company.ID

In [108]:
conn.commit()
table_print()

(2, 'AMIT', 26, 'Goa', 2000)
(3, 'ARJUN', 27, 'UK', 3000)

In [102]:
conn.execute("""insert into company(ID,NAME,AGE,ADDRESS,SALARY)values(3,'ARJUN',27,'Mumbai',3000)""")

IntegrityError: UNIQUE constraint failed: company.ID

In [74]:
conn.commit()
table_print()

(2, 'AMIT', 26, 'Goa', 2000)
(3, 'ARJUN', 27, 'UK', 3000)
(1, 'AJAY', 25, 'Pune', 1000)

In [76]:
conn.execute("""update company set address='UK' where id=3""")

In [78]:
conn.commit()
table_print()

(2, 'AMIT', 26, 'Goa', 2000)
(3, 'ARJUN', 27, 'UK', 3000)
(1, 'AJAY', 25, 'Pune', 1000)

In [80]:
conn.execute('delete from company where id=1')

In [98]:
conn.commit()
table_print()

(2, 'AMIT', 26, 'Goa', 2000)
(3, 'ARJUN', 27, 'UK', 3000)

In [82]:
for i in conn.execute("""select*from company order by salary desc"""):
    print(i)

(3, 'ARJUN', 27, 'UK', 3000)
(2, 'AMIT', 26, 'Goa', 2000)

In [84]:
for i in conn.execute("""select min(salary) from company"""):
    print(i)

(2000,)

In [86]:
for i in conn.execute("""select AVG(salary) from company"""):
    print(i)

(2500.0,)

In [90]:
data=open('data_to_db.csv','r').read()
data=data.split('\n')

In [92]:
data=data[1:]

In [94]:
data=[i.split(',') for i in data]

In [96]:
conn.execute("""
create table company2
(NAME TEXT NOT NULL,
AGE INT NOT NULL,
SALARY INT
);
""")

In [112]:
for i in conn.execute("""select*from company2"""):
    print(i)

In [114]:
data ###list of list | tuple of tuple | tuple of list

[['ajay', '10', '2000'], ['vijay', '15', '3000'], ['rajat', '45', '3000']]

In [118]:
conn.executemany("""insert into company2 values(?,?,?)""",data)

In [120]:
conn.commit()

In [122]:
for i in conn.execute("""select*from company2"""):
    print(i)

('ajay', 10, 2000)
('vijay', 15, 3000)
('rajat', 45, 3000)